<include src="global.scss" />
<include src="page/recipe.scss" />
<include src="page/text/page.scss" />
<include src="page/recipe/guide.scss" />
<include src="navigation/nav.html" />

<div class="page-max">
	<div class="video-section">
		<div id="recipeVideo" data-id="<?log(attr.youtube_id);?>" class="video pointer"
			style="box-shadow: 0 0 20px 0 <?log(attr.imagePalette.Vibrant.hex)?>99">
			<include class="thumbnail" version="1.0.0" src="https://tipsy-web.b-cdn.net/thumbnails/<?log(attr.youtube_id)?>.jpg" />
			<div id="ytplayer"></div>
			<div class="play-button">
				<div class="triangle"></div>
				<div class="text">Play</div>
			</div>
			<div class="loading">Loading video...</div>
		</div>

		<include src="page/recipe.js" />
	</div>
</div>
<div class="page-content">
	<div class="intro-section px-3 pb-3">
		<h1>
			<?log(attr.title)?>
		</h1>
		<p class="font-content">
			<?log(attr.oneLiner)?>
		</p>
	</div>
	<include src="3rdparty/banner.html" class="px-3" />
	<div class="guide-section ingredients-section pt-4">
		<h3 class="section-title">What You'll Need</h3>
		<div class="items">
			<?
			for(const item of attr.ingredients) { ?>
			<div class="item <? log(item.amt === undefined ? "" : " amt"); ?>">
				<div class="text">
					<? log(item.label); ?>
				</div>
				<? if(item.amt) { ?>
				<div class="amount">
					<? log(item.amt + " " + item.unit); ?>
				</div>
				<? } ?>
			</div>
			<? } ?>
		</div>
	</div>
	<div class="guide-section gear-section">
		<h3 class="section-title">Gear</h3>
		<div class="items">
			<?
			for(const item of attr.gear) { ?>
			<div class="item">
				<div class="text">
					<? log(item); ?>
				</div>
			</div>
			<? } ?>
		</div>
	</div>
	<? if(attr.prep != undefined) { ?>
	<include src="3rdparty/banner.html" class="px-3" />
	<div class="guide-section preparation-section pt-4">
		<h3 class="section-title">Preparation</h3>
		<div class="steps font-content">
			<? for(let a = 0; a < attr.prep.length; a++) { const item = attr.prep[a]; ?>
			<div class="step">
				<div class="number">
					<? log(a + 1); ?>
				</div>
				<div class="text">
					<? log(item); ?>
				</div>
			</div>
			<? } ?>
		</div>
	</div>
	<? } ?>

	<div class="px-3">
		<include id="drinkResponsibly" class="pb-4" src="banners/drink-responsibly/1.jpg"
			alt="drink responsibly banner" />
	</div>

	<include src="3rdparty/banner.html" class="px-3" />

	<div class="guide-section more-section pt-4">
		<h3 class="section-title">More About This Drink</h3>
		<div class="text font-content fw-200">
			<? log(attr.content); ?>
		</div>
	</div>


	<include src="display/holiday.html" limit=12 base="home" change="560,860" />

	<include src="3rdparty/banner.html" class="px-3 pb-4" />
		
	<include src="display/drinks-by-liquor.html" />

	<include src="3rdparty/banner.html" class="px-3" />
</div>

<div class="py-3"></div>

<include src="navigation/social-icons.html" base="footer" />
<include src="navigation/footer.html" />