<h1>Recipe: <?log(attr.title)?></h1>
<p><?log(attr.content)?></p>
<p><?log(attr.excerpt)?></p>
<p><?log(attr.video_url)?></p>
<p><?log(attr.video_poster_image)?></p>
<p><?log(attr.intro)?></p>
<p><?log(attr.more_info)?></p>
<p><?log(attr.prep_time)?></p>
<p><?log(attr.video_keywords)?></p>
<p><?log(attr.video_duration)?></p>
<p><?log(attr.preparation)?></p>
<p><?log(attr.ingredients)?></p>
<p><?log(attr.gear)?></p>
<p><?log(attr.contributor)?></p>
<p><?log(attr.brand_safe)?></p>
<p><?log(attr.promo_tags)?></p>