.listicle-item {
	display: block;
	margin-bottom: 2rem;

	.title {
		display: flex;

		&.desktop {
			display: none;
		}

		.number {
			position: relative;
			background: #00a8ff;
			color: #fff;
			width: 2em;
			height: 2em;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 1rem;
		}
	}

	.content p {
		font-weight: 200;
		line-height: 1.5;
	}

	.image {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}


	@media screen and (min-width: 700px){
		display: flex;

		.left {
			margin-right: 2rem;
			max-width: 200px;

			.image {
				width: 200px;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.title.mobile {
			display: none;
		}
		.title.desktop {
			display: flex;
		}
	}
}
