.carousel {
	width: 100%;
	overflow: hidden;

	> .wrapper {
		position: relative;
		display: flex;
		transform: translate(0, 0);
		transition: transform 0.6s ease;

		> * {
			margin-right: 20px;
		}
	}

	> .controls {
		margin-top: 20px;
		display: flex;
		opacity: 0;
		transition: opacity 1s ease;

		.indicators {
			display: flex;
			width: 100%;

			div {
				width: 20px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 50%;
					padding-bottom: 50%;
					background: #ddd;
					border-radius: 50%;
					transition: border-radius 0.6s ease, width 0.3s ease, padding 0.3s ease;
				}

				&.active:after {
					background: #00a8ff;
					width: 75%;
					padding-bottom: 75%;
					border-radius: 0;
				}
			}
		}
		.buttons {
			display: flex;

			.left {
				margin-right: 20px;
				opacity: 0.9;
			}
			div {
				position: relative;
				padding: 1.5rem;
				background: #00a8ff;
				color: #fff;
				font-weight: 900;
			}
			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
