.DS_Store
node_modules
package-lock.json

# Build files
.tired

# Large template data files
templates/data/*

# Large image files
include/png/*
include/jpg/*
include/jpeg/*
include/svg/*

# Misc
todo.md