.suggestedLiquors {
	display: flex;

	.liquorTall:nth-child(n + 2) {
		// display: none;
	}
}

.liquorTall {
	flex: 1;
	font-weight: bold;
	font-size: 70%;

	.wrapper {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		padding-bottom: 153.33333%;
		display: block;
	}

	.type,
	.label,
	.button {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		color: #fff;
	}

	.type {
		top: 1rem;
		opacity: 0.6;
		white-space: nowrap;
	}
	.label {
		font-size: 200%;
		top: 19%;
		text-shadow: 1px 1px #00000033;

		.text {
			opacity: 0.6;
		}
	}
	.button {
		bottom: 1rem;
		padding: 0.75rem 3rem;
		white-space: nowrap;

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			opacity: 0.7;
			border-radius: 4px;
		}
	}

	picture {
		z-index: -1;
		width: 100%;
		background: var(--imgrgb);
		position: absolute;
		top: 0;
		left: 0;
	}
}

// @media screen and (min-width: 360px){
// 	.suggestedLiquors {
// 		.liquorTall {
// 			font-size: 70%;

// 			.type {
// 				top: 1rem;
// 			}
// 			.button {
// 				bottom: 1rem;
// 				padding: 0.75rem 3rem;
// 			}
// 		}
// 	}
// }

// @media screen and (min-width: 360px) and (max-width: 559px){
// 	.suggestedLiquors {
// 		.liquorTall:nth-child(2) {
// 			display: block;
// 		}
// 	}
// }

// @media screen and (min-width: 560px) and (max-width: 859px){
// 	.suggestedLiquors {
// 		.liquorTall:nth-child(-n + 3) {
// 			display: block;
// 		}
// 		.liquorTall:nth-child(2) {
// 			padding: 0 1rem;
// 		}
// 	}
// }

// @media screen and (min-width: 860px){
// 	.suggestedLiquors {
// 		.liquorTall:nth-child(-n + 4) {
// 			display: block;
// 		}
// 		.liquorTall:nth-child(2) {
// 			padding: 0 1rem;
// 		}
// 	}
// }