.twodrinks {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0.5rem;

	.drink-card {
		width: 50%;
		font-size: 90%;
		padding-bottom: 0.5rem;
		padding-right: 0.25rem;
		padding-left: 0.25rem;

		@media screen and (min-width: 560px) {
			width: 33.33%;
		}
		@media screen and (min-width: 860px) {
			width: 25%;
		}
	}
}
