* {
	font-family: Montserrat, Verdana, Helvetica, Arial, sans-serif;
}
.font-content {
	font-family: Helvetica, sans-serif;
	letter-spacing: 0.02em;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.px-3 {
	padding-right: 1rem;
	padding-left: 1rem;
}
.px-2 {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.pb-3 {
	padding-bottom: 1rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}