#nav {
	padding: 0;
	font-size: 110%;

	margin-left: auto;
	margin-right: auto;

	max-width: 960px;

	.popout {
		top: 0;
		width: 100%;
		z-index: 9999;

		> .wrapper {
			background: #fff;
			border-bottom: 1px solid #f6f6f6;
			box-shadow: 0 0 20px 0 #00000033;
			transition: background .3s ease;
		}
	}

	#navLogoLink {
		display: flex;
		padding: 1rem 1.5rem;
	}

	#navOptions {
		margin-left: auto;

		a {
			padding: 1rem;
		}
		.desktop {
			display: none;
		}
	}

	&.expanded {
		#navHeader {
			opacity: 0.5;
		}
		.popout > .wrapper {
			// background: #3066be;
		}
	}

	@media screen and (min-width: 560px) {
		padding: 1rem 1rem 0 1rem;

		#navRow {
			justify-content: left;
		}

		.wrapper {
			border-bottom: none !important;
			border-radius: 10px;
			box-shadow: 0 0 20px 0 #3066be33;
		}
		#navOptions {
			padding: 0 0.5rem;
			.mobile {
				display: none;
			}
			.desktop {
				display: flex;
			}
		}
	}
}
#navLogoPicture {
	img {
		height: 40px;
		width: 141px;
	}
}
#navHeader {
	margin-left: 0.5rem;
	transition: opacity .3s ease;
}
